/* Todas las fuentes personalizadas */
@font-face {
    font-family: 'Playwrite';
    src: url(fonts/Playwrite_GB_S/static/PlaywriteGBS-Regular.ttf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Agdasima';
    src: url(fonts/Agdasima/Agdasima-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wenkai';
    src: url(fonts/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'wenkainormal';
    src: url(fonts/LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arima';
    src: url(fonts/Arima/static/Arima-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/*Aquí va todo el formato de index.html*/

/* Formato la barra de navegación */

.fondo{
    width: 100%;
    background-color: #18314F; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
    padding: 2px 0;
}

.navegacion {
    text-align: right;
    padding: 8px 15px;
    list-style: none;
}

.navegacion li {
    display: inline;
}

.navegacion li+li:before {
    padding: 8px;
    color: black;
    content: "\00a0";
}

.navegacion a:link, .navegacion a:visited {
    text-decoration: none;
    color: white;
}

.navegacion li a:hover {
    color: #9c9c9c;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #2b2e4b;
    transition: color 0.3s ease, font-size 0.3s ease;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #54494B;
    font-weight: bold;
    font-size: 35px;
}

a:visited {
    text-decoration: none;
    color: #7E8287;
    font-weight: bold;
}

/* Aquí esta el resto de navegación*/

.fondo1 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%), url(images/espada.png); /* Aquí, como en el resto de elementos, se usa para hacer un degradado */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    position: relative;
}

.titulo_index {
    font-family: 'Playwrite';
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
    color: #01172F;
}

/* Formato paises */

.relleno {
    background-color: #e6e7eb;
    padding-top: 30px;
    color: transparent;
}

.color_intro {
    background-color: #e6e7eb;
}

.intro {
    font-family: 'wenkai';
    font-size: 50px;
    text-align: center;
}

.texto_intro{
    text-align: center;
    font-family: 'wenkainormal';
    font-size: 25px;
}

.neg {
    font-weight: bold;
    font-size: 25px;
}

.titulo_continente {
    font-family: 'wenkai';
    font-size: 100px;
    text-align: center;
}

.belgica_bandera {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/belgica.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    color: transparent;
}

.degradado {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/belgica.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.belgica_titulo_pais {
    display: flex;
    justify-content: center;
    top: -200px;
    font-family: 'Playwrite';
    font-size: 75px;
    position: relative; 
    color: black; 
    width: 100%; 
}

.titulo_pais {
    display: flex;
    justify-content: center;
    top: -300px;
    font-family: 'Playwrite';
    font-size: 75px;
    position: relative; 
    color: black; 
    width: 100%; 
}

.titulo {
    text-align: center;
    font-family: 'wenkai';
    font-size: 50px;
}

.map {
    border-style: outset;
    border-color: black;
    border-radius: 20px;
    border-spacing: 12px;
    border-width: 6px;
    float: right;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: -350px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 325px;
    height: 300px;
}

/* Textos de historia, Cultura y Gastronomia de belgica */

.contenido {
    padding-bottom: 80px;
}

.texto {
    font-family: 'Arima';
    text-align: center;
    font-size: 25px;
}

/* España */

.esp_bandera {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/esp_bandera.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    color: transparent;
}

.esp_bandera2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/esp_bandera.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: transparent;
    height: 50px;
}

/* Paises Bajos */

.ne_bandera { /* Juro es la bandera de los Paises Bajos, solo que en el formato en que presento esto, no se puede apreciar correctamente */
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/ne_flag.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    color: transparent;
}

.ne_bandera2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/ne_flag.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: transparent;
    height: 50px;
}

.texto_ne_espe {
    font-family: 'Arima';
    font-size: 25px;
    text-align: center;
    margin-right: 400px;
}

/* Perú */

.pe_bandera { /* Juro es la bandera de los Paises Bajos, solo que en el formato en que presento esto, no se puede apreciar correctamente */
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/peru.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    color: transparent;
}

.pe_bandera2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/peru.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: transparent;
    height: 50px;
}

/* Nicaragua */

.ni_bandera {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/nicaragua.png); 
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    color: transparent;
}

.ni_bandera2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/nicaragua.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: transparent;
    height: 50px;
}

/* Republica Dominicana */

.rd_bandera {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/rd.png); 
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    color: transparent;
}

.rd_bandera2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #e6e7eb 100%),
                url(images/rd.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: transparent;
    height: 50px;
}

/*Tuve que poner un margin cero porque la imagen no se ajustaba del todo bien*/

body {
    margin: 0;
    padding-top: 35px;
    background-color: #e6e7eb;
}

/* El pie de página */

footer {
    color: #e6e7eb;
    background-color: #18314F;
    padding-bottom: 50px;
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
}